$colourApple:#64b83d;
$colourAstra: #faf5b2;
$colourBoulder: #777;
$colourFrenchPass: #baf4ff;
$colourGallery: #efefef;
$colourMineShaft: #222;
$colourReef: #cfffb6;
$colourSilver: #ccc;
$colourWatusi: #ffe2d1;
$colourWhite: #fff;
